<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Community Page</title>
</head>
<body>
<div th:if="${session.user}" >
  <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
  <p th:text="'user name: ' + ${session.user.userName}"></p>
</div>

<div th:if="${session.user.userName} == ${community.owner.userName}">
  <a th:href="@{/community/updateCommunityPage(communityId=${community.id})}">Update Your Community</a>
</div>

<div>
  <form action="#"  th:object="${community}" >

    Name: <span th:text="${community.name}"></span><br><br>
    Description: <span th:text="${community.description}"></span><br><br>
    <div sec:authorize="hasRole('USER')">
      <a th:href="@{/community/followCommunity(communityId=${community.id})}">Follow</a>

    </div>
    <br>
    <div>
      Followers:

      <tr th:each="follower : ${community.followers}">

        <td th:text="${follower.userName}"></td>
        <hr>
    </div>
     <br>
    <div>
      Templates:
      <tr th:each="template : ${community.templates}">

        <td th:text="${template.name}"></td>
        <a th:href="@{/post/showPostForm(templateId=${template.id})}">Select</a>
        <hr>
    </div>
    <br>
      <div>
        Posts:
        <tr th:each="post : ${community.posts}">

          <td th:text="${template.name}"></td>

          Name: <span th:text="${post.title}"></span><br><br>

          <ul>
            <li th:each="tempPost : ${post.dataFields}">
              <span th:text="${tempPost.name}"></span><br><br>
              <span th:text="${tempPost.description}"></span><br><br>

            </li>
          </ul>
          <a th:href="@{/post/shoForm(templateId=${template.id})}">Select</a>
          <hr>
      </div>


  </form>
</div>

</body>
</html>