<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Community Page</title>
  <script>
    function showDateField1() {
        var postDateDiv = document.getElementById("postDateDiv");
        if (postDateDiv) {
            postDateDiv.style.display = document.getElementById("searchByDate").checked ? "block" : "none";
        }
    }
    function showDateField2() {
        var templates = document.getElementById("templates");
        if (templates) {
            templates.style.display = document.getElementById("searchWithTemplates").checked ? "block" : "none";
        }
    }
    function showDateField3() {
        var fields = document.getElementById("fields");
        if (fields) {
            fields.style.display = document.getElementById("searchWithDataField").checked ? "block" : "none";
        }
    }
  </script>
</head>

<body>
<div th:if="${session.user}" >
  <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
  <p th:text="'user name: ' + ${session.user.userName}"></p>
</div>
<div sec:authorize="hasRole('USER')">
  <a th:href="@{/}">Home page</a>

</div><br>

<div th:if="${session.user.userName} == ${community.owner.userName}">
  <a th:href="@{/community/updateCommunityPage(communityId=${community.id})}">Update Your Community</a>
</div>

<div>
  <h2>Search</h2>
  <form th:action="@{/search/processCommunitySearchForm}" th:object="${search}" method="post" class="mt-4">
    <div class="form-group">
      <label for="keyword">Keyword:</label>
      <input type="text" id="keyword" th:field="*{keyword}" class="form-control">
    </div>
    <input type="hidden" name="communityId" th:value="${community.id}">
    <div class="form-group">
      <label>Search in:</label>
      <div class="form-check">
        <input type="checkbox" id="searchPeople" th:field="*{searchInPeople}" onchange="showDateField()" class="form-check-input">
        <label for="searchPeople" class="form-check-label">People</label>
      </div>
      <div class="form-check">
        <input type="checkbox" id="searchPosts" th:field="*{searchInPosts}" onchange="showDateField()" class="form-check-input">
        <label for="searchPosts" class="form-check-label">Post Title</label>
      </div>
      <div class="form-check">
        <input type="checkbox" id="searchByDate" th:field="*{searchByDate}" onchange="showDateField1()" class="form-check-input">
        <label for="searchByDate" class="form-check-label">Post Date</label>
      </div>
      <div id="postDateDiv" style="display: none;">
        <label for="postDate">Post Date From:</label>
        <input type="date" id="postDate" th:field="*{postDate}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="searchWithTemplates" th:field="*{searchWithTemplates}" onchange="showDateField2()" class="form-check-input">
        <label for="searchWithTemplates" class="form-check-label">According to Template</label>
      </div>
      <div id="templates" style="display: none;">
        <label for="templates">Select a Template</label>
        <select th:field="*{templateId}" class="form-control">
          <option th:each="template : ${community.templates}" th:value="${template.id}" th:text="${template.name}"></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input type="checkbox" id="searchWithDataField" th:field="*{searchWithDataField}" onchange="showDateField3()" class="form-check-input">
        <label for="searchWithDataField" class="form-check-label">Data Field Content</label>
      </div>
      <div id="fields" style="display: none;">
        <label for="fields">Select a Field Type</label>
        <select th:field="*{fieldName}" id="field-type" name="field-type" class="form-control">
          <option th:value="'text'" th:text="'Text'"></option>
          <option th:value="'image'" th:text="'Image'"></option>
          <option th:value="'video'" th:text="'Video'"></option>
          <option th:value="'geolocation'" th:text="'Geolocation'"></option>
          <option th:value="'audio'" th:text="'Audio'"></option>
        </select>
        <div class="form-check">
          <input type="checkbox" id="allFields" th:field="*{allFields}" class="form-check-input">
          <label for="allFields" class="form-check-label">All fields</label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <form action="#"  th:object="${community}" >

    <br>
    Name: <span th:text="${community.name}"></span><br><br>
    Description: <span th:text="${community.description}"></span><br><br>
    <div sec:authorize="hasRole('USER')">
      <a th:href="@{/community/followCommunity(communityId=${community.id})}">Follow</a>

    </div>

    <br>
    <div>
      Followers:

      <tr th:each="follower : ${community.followers}">

        <td th:text="${follower.userName}"></td>
        <div >
          <a th:href="@{/user/showProfile(userId=${follower.id})}">View</a>

        </div>
        <hr>
    </div>
    <br>
    <div>
      <h2>Templates:</h2>
      <a th:href="@{/template/templateForm(communityId=${community.id})}">Create new template</a><br>
      <form action="#" th:object="${community}">
        Default Post Template <a th:href="@{/post/showDefaultPostForm(communityId=${community.id})}">Select</a>
        <table>
          <tr th:each="template : ${community.templates}">
            <td>
              <span th:text="${template.name}"></span>
            </td>
            <td>
              <a th:href="@{/post/showPostForm(templateId=${template.id})}">Select</a>
            </td>
          </tr>
        </table>
      </form>
    </div>

    <br>
    <div th:if="${community.posts != null}">
      <h2>Posts:</h2>
      <table>
        <tr th:each="post : ${community.posts}" >
          <td>
            <h3><span th:text="${post.title}"></span></h3>
            <div th:if="${post.user != null}">
              <p>Posted by: <span th:text="${post.getUser().getUserName()}"></span></p>
            </div>
            <ul>
              <li th:each="tempPost : ${post.dataFields}">
                <p><strong><span th:text="${tempPost.name}"></span>:</strong> <span th:text="${tempPost.inputValue}"></span></p>
              </li>
            </ul>
            <p>Creation Date: <span th:text="${post.creationDate}"></span></p>
            <form th:action="@{/post/addLike(postId=${post.id})}" method="post" style="display: inline;">
              <input type="hidden" name="communityId" th:value="${community.id}">
              <button type="submit" th:text="'like: ' + ${post.like}"></button>
            </form>
            <form th:action="@{/post/addDislike(postId=${post.id})}" method="post" style="display: inline;">
              <input type="hidden" name="communityId" th:value="${community.id}">
              <button type="submit" th:text="'dislike: ' + ${post.dislike}"></button>
            </form>
            <hr>
          </td>
        </tr>
      </table>
    </div>


  </form>
</div>

</body>
</html>