<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${session.user}" >
    <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>
</div>
<div th:if="${session.user.userName} == ${UserProfile.user.userName}">
    <a th:href="@{/user/updateUserProfileForm(UserProfileId=${UserProfile.id})}">Update Your Profile</a>
</div>
<div sec:authorize="hasRole('USER')">
    <a th:href="@{/}">Home Page</a>

</div><br>

<div>
    <form action="#"  th:object="${UserProfile}" >

        Name: <span th:text="${UserProfile.name}"></span><br><br>
        Description: <span th:text="${UserProfile.description}"></span><br><br>
        Age: <span th:text="${UserProfile.age}"></span><br><br>
        City: <span th:text="${UserProfile.city}"></span><br><br>
        Gender: <span th:text="${UserProfile.gender}"></span><br><br>

    </form>
</div>

</body>
</html>