<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration Confirmation</title>
</head>

<body>

<h2>User Registration Successful!</h2>

<!-- Displaying user information -->
<ul>
	<li th:text="'User Name: ' + ${webUser.userName}"></li>
	<li th:text="'First Name: ' + ${webUser.firstName}"></li>
	<li th:text="'Last Name: ' + ${webUser.lastName}"></li>
	<li th:text="'Email: ' + ${webUser.email}"></li>
</ul>

<hr>

<a th:href="@{/showMyLoginPage}">Login with the new username</a>

</body>

</html>
